$avatar-header: 75px


.avatar-header
  border-radius: $avatar-header
  height: $avatar-header
  width: $avatar-header
.ascensor
  right: 0
.bg-header
  background: url("../img/intro/desktop-3.jpg") no-repeat center center
  background-size: cover
.overlays
  background: rgba(0,0,0,0.6)
